@page
@model RazorPagesMovie.Pages.Images.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ImageGallery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageGallery.Title" class="control-label"></label>
                <input asp-for="ImageGallery.Title" class="form-control" />
                <span asp-validation-for="ImageGallery.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageGallery.Path" class="control-label"></label>
                <input asp-for="ImageGallery.Path" class="form-control" />
                <span asp-validation-for="ImageGallery.Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageGallery.FormFile" class="control-label"></label>
                <input asp-for="ImageGallery.FormFile" class="form-control" />
                <span asp-validation-for="ImageGallery.FormFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img id="blah" src="~/images/book-covers.jpg" alt="your image" class="rounded img-thumbnail"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ImageGallery_FormFile").change(function () {
            readURL(this);
        });
    })
</script>

}
